@page "/"
@page "/login"
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@using MudBlazor
@using softserve.projectlabs.Shared.DTOs.Login
@using softserve.projectlabs.Shared.DTOs.Auth

<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <MudPaper Class="pa-4" MaxWidth="608px">
        <MudText Typo="Typo.h5" Class="mb-4">Login</MudText>
        <MudForm @ref="loginForm">
            <MudTextField @bind-Value="loginDto.Email" Label="Email" Required="true" Size="Size.Small" />
            <MudTextField @bind-Value="loginDto.Password" Label="Password" InputType="InputType.Password" Required="true" Size="Size.Small" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="LoginUser" Class="mt-2">Login</MudButton>
            <MudText Class="mt-2">
                Don't have an account?
                <MudLink Href="/register" Class="ms-1">Register here</MudLink>
            </MudText>
        </MudForm>
        @if (!string.IsNullOrEmpty(loginResponse))
        {
            <MudText>@loginResponse</MudText>
        }
    </MudPaper>
</div>

@code {
    private MudForm? loginForm;
    private LoginDto loginDto = new();
    private string? loginResponse;

    private async Task LoginUser()
    {
        loginResponse = null;
        await loginForm?.Validate();
        try
        {
            var result = await Http.PostAsJsonAsync("api/auth/login", new
            {
                UserEmail = loginDto.Email,
                UserPassword = loginDto.Password
            });

            if (result.IsSuccessStatusCode)
            {
                var authResponse = await result.Content.ReadFromJsonAsync<AuthResponseDto>();
                if (authResponse is not null && !string.IsNullOrEmpty(authResponse.AccessToken))
                {
                    await JS.InvokeVoidAsync("localStorage.setItem", "authToken", authResponse.AccessToken);

                    loginResponse = "Login successful.";
                    Snackbar.Add("Login successful.", Severity.Success);
                    Navigation.NavigateTo("/home");
                }
                else
                {
                    loginResponse = "Login failed: No token received.";
                }
            }
            else
            {
                var content = await result.Content.ReadAsStringAsync();
                loginResponse = $"Error: {content}";
            }
        }
        catch (Exception ex)
        {
            loginResponse = $"Exception: {ex.Message}";
        }
    }
}
